<%- include("../partials/breadcrumb") %>

<div class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form class="contact_form">
                    <div class="contact_form_heading">Send Us a Message</div>
                    <div class="contact_form_input">
                        <input type="text" required placeholder="Full Name">
                    </div>
                    <div class="contact_form_input">
                        <input type="email" required placeholder="E-mail">
                    </div>
                    <div class="contact_form_input">
                        <input type="text" required placeholder="Phone">
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="contact_form_text"
                        placeholder="Your Message"></textarea>
                    <button type="submit" class="contact_form_send">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>