<%- include("../partials/breadcrumb") %>

<div class="login_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="login_part_form text-center">
                    <div class="login_part_form_inner w-100">
                        <h3>
                            Welcome!<br>
                            Please Sign in now
                        </h3>
                        <div class="google_btn">
                            <a href="/accounts/google">
                                <i class="fab fa-google fa-2x"></i>
                                <span>Sign in with Google</span>
                            </a>
                        </div>
                        <br>
                        <br>
                        <div class="or">or</div>
                        <hr>
                        <br>
                        <br>
                        <form action="/accounts/login" class="row contact_for formSubmit" method="POST">
                            <div class="col-md-12 form-group p_star">
                                <input type="email" name="email" placeholder="Email" class="form-control" required>
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="password" name="password" placeholder="Password" class="form-control"
                                    required>
                            </div>

                            <div class="col-md-12 form-group">
                                <div class="create_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="remember_me" value="yes">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <button type="submit" class="btn_3 disabling">
                                    LOG IN
                                </button>
                                <a href="/accounts/recover" class="lost_pass">Forget Password?</a>
                                <div class="register">
                                    Don't have an account?
                                    <a href="/accounts/register" class="sign_up">Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>