<section>
    <div class="banner_inner banner_background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_inner_text">
                        WELCOME
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="items_list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="items_heading text-center">
                        <h1>These are the Products You can Buy.</h1>
                        <p>You must log in to view others</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <ul class="wrapper cf">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('./img/product/product_list_1.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">
                                    Softy
                                    <a href="javascript:void(0)" class="more close2"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: white on
                                    gray<br>Size
                                    available: L, XL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">
                                            Add to cart <i class="fa fa-shopping-cart"></i>
                                        </span>
                                        <!-- <span class="check"><i class="fa fa-check"></i></span> -->
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('./img/product/product_list_2.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">Blacko
                                    <a href="javascript:void(0)" class="more close2"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: white on
                                    black<br>Size
                                    available: L, XL, XXL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">Add to cart <i class="fa fa-shopping-cart"></i></span>
                                        <span class="check"><i class="fa fa-check"></i></span>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('/img/product/product_list_3.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">Mars
                                    <a href="javascript:void(0)" class="more close2"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: black on
                                    gray<br>Size
                                    available: XL, XXL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">Add to cart <i class="fa fa-shopping-cart"></i></span>
                                        <span class="check"><i class="fa fa-check"></i></span>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('/img/product/product_list_4.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">Pluto
                                    <a href="javascript:void(0)" class="more close2"><i class="fas fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: black on
                                    gray<br>Size
                                    available: XL, XXL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">Add to cart <i class="fa fa-shopping-cart"></i></span>
                                        <span class="check"><i class="fa fa-check"></i></span>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('/img/product/product_list_5.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">Travel
                                    <a href="javascript:void(0)" class="more close2"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: black on
                                    gray<br>Size
                                    available: XL, XXL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">Add to cart <i class="fa fa-shopping-cart"></i></span>
                                        <span class="check"><i class="fa fa-check"></i></span>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product">
                        <div class="container-prod">
                            <div class="image" style="background-image:url('/img/product/product_list_6.png');">
                            </div>
                            <div class="container-information">
                                <div class="title">Hexagon
                                    <a href="javascript:void(0)" class="more close2"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="description">Siebdruck print<br>100% cotton<br>Color available: black on
                                    gray<br>Size
                                    available: XL, XXL</div>
                            </div>
                            <div class="sharing cf">
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="fl-l" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="buttons cf">
                                <a href="/home" class="cart fl-l">
                                    <span>
                                        <span class="add">Add to cart <i class="fa fa-shopping-cart"></i></span>
                                        <span class="check"><i class="fa fa-check"></i></span>
                                    </span>
                                </a>
                                <a href="javascript:void(0)" class="more fl-l"><span><span><i
                                                class="fa fa-plus"></i></span></span></a>
                                <a href="javascript:void(0)" class="share fl-l"><span><span><i
                                                class="fa fa-share-alt"></span></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ul>
</section>