<%- include("../partials/breadcrumb") %>

<section class="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Our Mission</h5>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid accusantium at quam
                        adipisci iusto nesciunt quod inventore similique ea.</h3>
                    <div class="about_us_video">
                        <img src="/img/about_us_video.png" alt="" class="img-fluid">
                        <a href="#popup1" class="about_video_icon">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay" id="popup1">
        <div class="popup">
            <a href="#" class="close">&times;</a>
            <div class="content">
                <iframe src="https://www.youtube.com/embed/DWHB6nTyKDI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

</section>