<%- include("../partials/breadcrumb") %>

<section class="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Our Mission</h5>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid accusantium at quam
                        adipisci iusto nesciunt quod inventore similique ea.</h3>
                    <div class="about_us_video">
                        <img src="/img/about_us_video.png" alt="" class="img-fluid">
                        <a class="about_video_icon" data-toggle="modal" data-target="#myModal">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade overlay" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content popup">
                <div class="modal-header">
                    <button type="button" class="close iframeClose" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/DWHB6nTyKDI" frameborder="0"
                            class="embed-responsive-item iframeYT"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>