<%- include("../partials/breadcrumb") %>

<section class="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Our Mission</h5>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid accusantium at quam
                        adipisci iusto nesciunt quod inventore similique ea.</h3>
                    <div class="about_us_video">
                        <img src="/img/about_us_video.png" alt="" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=DWHB6nTyKDI" class="about_video_icon popup-youtube">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>